.spiner {
  margin-top: 40px !important;
  margin-left: 50px !important;
  margin-right: auto !important;
  transform: scale(2) !important;
  display: block !important;
}

.alert {
  text-align: center;
}
