$componentBackground: #ffffff;
$succesColor: #52c41a;
$decorative-color: #1890ff;
$transitionTime: 0.2s;

.buttonsContainer {
  height: 51px;
  height: 100%;
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  background-color: $componentBackground;
  margin-top: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: $transitionTime;
  outline: none;
  vertical-align: middle;
}

.buttonSI {
  text-align: left;
  padding: 0;
  width: 84px;
  margin-right: 19px;
  border: none;
}

.linkToSignIn:hover .buttonSI,
.linkToSignIn:focus .buttonSI {
  filter: brightness(130%);
}

.linkToSignIn:active .buttonSI {
  text-decoration: underline;
}

.buttonSU {
  color: $succesColor;
  border: 1px solid $succesColor;
  width: 109px;
  padding: 0;
}

.linkToSignUp:focus .buttonSU,
.linkToSignUp:hover .buttonSU {
  background-color: $succesColor;
  color: $componentBackground;
}

.buttonSU:active {
  box-shadow: 2px 2px 5px grey;
}

.createArtc {
  display: flex;
  align-items: center;
  width: 112.23;
  height: 31.1px;
  background-color: $componentBackground;
  color: $succesColor;
  border-radius: 5px;
  border: 1px solid $succesColor;
  font-size: 14px;
  line-height: 22px;
  margin-top: 25px;
  margin-right: 26.77px;
  padding: 6px 10px;
  color: $succesColor;
  cursor: pointer;
  transition: $transitionTime;
  outline: none;
}

.linkToCreateArtc:hover .createArtc,
.linkToCreateArtc:focus .createArtc {
  color: $componentBackground;
  background-color: $succesColor;
}

.linkToCreateArtc:active .createArtc {
  box-shadow: 2px 2px 5px grey;
}

.userContainer {
  margin-right: 13px;
  margin-top: 19px;
  min-height: 46px;
  color: #000000;
  display: flex;
  align-items: center;
}

.profileLink:focus .username,
.profileLink:hover .username {
  color: $decorative-color;
}

.profileLink:active .username {
  text-decoration: underline;
}

.username {
  margin-right: 13px;
  transition: $transitionTime;
}

.buttonLO {
  padding: 6px 18.17px 10px;
  color: #000000;
}

.buttonLO:hover,
.buttonLO:focus {
  background-color: rgba(0, 0, 0, 0.75);
  color: $componentBackground;
}

.buttonLO:active {
  box-shadow: 2px 2px 5px grey;
}

.avatar {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  object-fit: cover;
}
